# Frontend
node_modules
client/.next
client/dest

# Backend
vendor
secrets.yaml
secrets.dev.yaml
secrets.local.yaml

# Google Service Account JSON
triax-football-*.json

# Development
dev

# Test and coverage
coverage
coverage.*.txt

# Editors
.vscode
